body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #003566, #000713, #003566);
}

.container {
    background-color: #001D3D;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, footer {
    background-color: #000814;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 0.5em 0;
    color: #FFC300;
}

section {
    margin: 1em 0;
    padding: 0 1em;
}

body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#screenshots img {
    width: 200px;
    height: auto;
    margin: 10px;
}

#screenshots {
    text-align: center;
}

#instructions {
    color: white; 
    text-align: center;
    padding: 20px;
}